
<div class='divider'></div>
<div class='section'>
  <h5><a class = "white-text" href='/categories/{{id}}'>{{category_name}}</a><button
      class='secondary-content material-icons trash_btn'
      data-id='{{id}}'
    >delete</button></h5>
</div>