
<div class='divider'></div>
<div class='section'>
  <h5><a class = "white-text" href='/categories/{{id}}'>{{category_name}}</a><button
      class='btn btn-sm btn-danger red lighten-2 secondary-content'
      data-id='{{id}}'
    ><i class="material-icons">delete</i></button></h5>
</div>