<div class='divider'></div>
<div class='section'>
  <h5>{{item_name}}</h5>
  <p><a class="white-text" href='{{website}}' target='_blank'>{{website}}</a></p>
  <p><button
      class='btn btn-sm btn-danger red lighten-2'
      data-id='{{id}}'
    ><i class="material-icons">delete</i></button>
  </p>
</div>