<div class='container'>
 <h2>My Local Lists</h2>

<div class='category-list'>
  
      {{#each categories as |category|}}
      {{> category-details}}
      {{/each}}
</div>
<div class='container'>

{{!-- New Item Form --}}
    <div class='container'>
    <ul class='collapsible'>
    <li>
      <div class='collapsible-header green lighten-2'
    >Create a new Local list
    </div>
    {{> newCategory-Form}}
    </li>
       </div>
       <script src='/js/category.js'></script>