<div class='container'>

  <ul class='collapsible'>
    <li>
      <div class='collapsible-header'><i
          class='material-icons'
        >filter_drama</i>My Categories</div>
      {{#each categories as |category|}}
      {{> category-details}}
      {{/each}}
    </li>
  </ul>
</div>
<div class='container'>

  <ul class='collapsible'>
    <li>
      <div class='collapsible-header'><i
          class='material-icons'
        >filter_drama</i>Add a New Item</div>
     {{> newItem-Form}}
    </li>
  </ul>
</div>