<div class='container'>

  <ul class='collapsible'>
    <li>
      <div class='collapsible-header'><i
          class='material-icons'
        >filter_drama</i>My Categories</div>
      {{#each categories as |category|}}
      <div class='collapsible-body'>
       <a href="/categories/{{category.id}}">
          <header>{{category.category_name}}</header>
          <span>{{category.description}}</span>
        </a>
      </div>
      {{/each}}
    </li>

  </ul>
</div>