<div class='container'>
 <h2 class="white-text">My Local Lists</h2>


<div class='category-list white-text'>
  
      {{#each categories as |category|}}
      {{> category-details}}
      {{/each}}

</div>
<div class='container'>

{{!-- New Item Form --}}
    <div class='container'>
    <ul class='collapsible'>
    <li>

      <div class='collapsible-header blue lighten-2 white-text'
    ><i class="material-icons">add</i>Create a new Local list
    </div>
    {{> newCategory-Form}}

    </li>
       </div>
       <script src='/js/category.js'></script>