<div class='container'>

  <ul class='collapsible'>
    <li>
      <div class='collapsible-header'><i
          class='material-icons'
        >star</i>{{category.category_name}}</div>
      {{#each category.items as |item|}}
         {{> items-details}}
       {{/each}}
    </li>
  </ul>
</div>