<div class='logo'>
  <div class='white-text'>
    <h2>Welcome {{user.name}}!</h2>
    <p><strong>My Email:</strong> {{user.email}} </p>

    <p><a class='white-text' href='./'>View your Local Lists >></a></p>
  </div>
</div>